.row
  .col-md-3
    .bs-sidebar.affix{role: 'complementary'}
      %ul.nav.nav-pills.nav-stacked
        %li{ class: "active" }
          = link_to "Employee Profile", employees_path
        %li
          = link_to "Employee Position", positions_path
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Add a New Employee

      .panel-body
        = render 'form', url: employees_path