.row
  .col-md-3
    .bs-sidebar.affix{role: 'complementary'}
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to "Employee Profile", employees_path
        %li{ class: 'active' }
          = link_to "Employee Position", positions_path
  .col-md-9
    .panel.panel-default
      .panel-header
        %h3.panel-title
          Add a New Position
      .panel-body
        = render 'form', url: position_path(@position)