.panel.panel-default
  .panel-heading
    %h3.panel-title
      Invoice Receipt
    .panel-heading-action
      = link_to new_invoice_path, class: 'btn btn-default btn-xs' do
        %span.glyphicon.glyphicon-plus
        Add New Invoice
  .panel-body
    .container-fluid
      .row
        - @invoices.each do |invoice|
          .col-xs-6.col-md-3
            .thumbnail
              = image_tag 'default_person_small.png', alt: 'photo'
              .caption
                .row
                  .col-md-9
                    %h5= invoice.client.full_name
                  .col-md-3
                    %span
                      = link_to invoice_path(invoice),  { class: 'justify-top link_action btn btn-default btn-xs', data: { original_title: 'View', rel: 'tooltip'}} do
                        %span.glyphicon.glyphicon-eye-open