%fieldset
  %div{ style: 'display:inline-block; float: left;'}
    .pull-left
      = f.input :field, collection: Communication::TYPES, label: false, prompt: 'Select type', input_html: { class: 'field-medium' }
    .pull-right{ style: 'padding-left: 14px; padding-right: 14px;'}
      = f.input :value, label: false, input_html: { class: 'field-medium' }
  %div{ style: 'float: left; padding-top: 7px;'}
    = f.input_field :_destroy, as: :hidden
    = link_to nil, { class: 'link_action remove_fields', data: { original_title: 'Remove', rel: 'tooltip'} } do
      %span.glyphicon.glyphicon-remove
