- content_for :product_category_sidebar_item, 'active'

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Edit a Product Category

  .panel-body
    = render 'form', url: edit_service_category_path(@category)