%footer.page-footer
  .container
    .row
      .col.s12
        %h5 Contact us @
        %ul
          %li
            %i.small.material-icons email
            %a{ href: 'mailto:creativeplus.cam@gmail.com', target: '_top' }
              creativeplus.cam@gmail.com
          %li
            %i.small.material-icons contact_phone
            %span 015326004 / 081 842 847 / 017 80 90 71
          %li
            %i.small.material-icons room
            %span 11th floor, PPIU, Building 36, St. 169, Sangkat Veal Vong, khan 7 Makara, Phnom Penh, Cambodia.
  .footer-copyright
    .container
      © 2016 Copyright CreativePlus