form {
  label {
    font-weight: 600;
  }

  .field-long {
    width: 342px;
    display: block;
  }

  .field-medium {
    width: 175px;
  }

  .prepend-field-long {
    width: 263px;
  }

  input.btn {
    height: 34px;
  }

  .has-error .help-inline{
    color: #A94442;
  }

  .alert > .close {
    line-height: 0;
  }

  .add_fields {
    text-decoration: none;
  }

  .checkbox-justify {
    margin-left: 20px;
  }
}

.form-actions, .form-divider {
  border-top: 1px solid #E5E5E5;
  margin-top: 24px;
  padding: 14px 0 0;

  .btn {
    min-width: 80px;
    margin-right: 8px;
  }
}