//
// Navs
// --------------------------------------------------

.bs-sidebar {
  li {
    margin-top: -1px;
    background: image-url("../assets/line.png") no-repeat 15px bottom;

    &.active {
      margin-bottom: 1px;

      .icons {
        color: #fff;
      }
    }

    > a {
      padding: 10px 40px !important;
      color: $gray-dark;

      &:hover,
      &:focus {
        background-color: $nav-link-hover-bg;
      }
    }
  }

  li + li {
    margin-top: -1px;
  }

}

.none {
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  display: inline-block;

  a {
    text-decoration: none;
  }
}

#header {
  .navbar-header {
    width: 100%;
    padding-top: 15px;
  }

  .nav-user-links {
    > .open > a {
      background-color: transparent;
      color: $link-color;
    }

    .dropdown > a {
      padding: 17px 15px;

      &:hover, &:focus {
        color: $link-color;
      }
    }

    .dropdown-menu {
      top: 80%;

      > li > a {

        &:hover, &:focus {
          background-color: $nav-link-hover-bg;
        }
      }
    }

    .divider {
      margin: 5px 0;
    }
  }
}

#content {
  .nav-back-to-desk {
    margin-bottom: 40px;
    a {
      color: $gray-dark;
      &:hover {
        color: $link-color;
        text-decoration: none;
      }
    }
  }
}