//
// Panels
// --------------------------------------------------

.panel {
  margin-bottom: $grid-gutter-width;
  @include box-shadow(none);

  .panel-title {
    color: $gray-darker;
  }
}

.panel-body-none {
  .panel-heading {
    @include border-bottom-radius(($panel-border-radius - 1));
    border-bottom: 0;
  }
}

.panel-heading {
  @include hover-state-color;

  h3 {
    font-size: 22px;
    padding: 2px 0;
  }

  .horizontal-link {
    margin-top: 10px;
    margin-bottom: 5px;

    a {
      font-weight: 600;
      span {
        font-size: 12px;
        margin-right: 8px;
        color: $gray-dark;
        font-weight: normal;
      }
    }
  }
}

.panel-main {
  .panel-heading {
    min-height: 76px;

    .panel-heading-action {
      top: 12px;
    }
  }

  .active-arrow {
    color: $link-color;
  }

  .arrow-bottom {
    top: 15px;
  }
}

.panel-sub {
  .panel-heading-action {
    top: 7px;
  }

  h4.panel-title {
    width: 80%;
    line-height: 1.2;
  }
}

.panel-heading-action {
  position: absolute;
  right: 6px;
  top: 11px;

  a {
    border: 1px solid transparent;
    background: transparent;
    padding: 3px 6px;
    color: $gray-dark;

    &:hover,
    &:focus {
      color: $gray-darker;
    }
  }
}

.panel-body {
  padding: 16px;

  .status {
    @include opacity(0.5);
    font-weight: normal;
    position: absolute;
    border-radius: 0;
  }

  .info {
    @include hover-state-color;
  }
}

.panel-heading {
  position: relative;
}

.panel-padding-bottom-none {
  padding-bottom: 0;
}

.panel {
  .see-all {
    text-align: center;
    padding: 0;

    a {
      display: block;
      font-weight: 600;
      padding: 10px 15px;
    }

    @include hover-state-color;
  }
}