//
// Tables
// --------------------------------------------------

.table {
  th {
    font-weight: 600;
  }

  td, th {
    vertical-align: middle !important;
  }
}

.action-field {
  min-width: 75px;
  text-align: right;

  a {
    @include opacity(0.5);
    border: 1px solid transparent;
    background: transparent;
    padding: 3px 6px;
    color: $gray-dark;

    &:hover,
    &:focus {
      color: $gray-darker;
    }
  }
}

.table-hover {
  tbody {
    tr:hover {
      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      td.action-field {
        .btn {
          @include opacity(1);
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
}
