header#header {
  background-color: #fff;
  margin-bottom: $grid-gutter-width;

  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    @include inline-block;
  }

  .listing-status{
    @include inline-block;
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
    margin-top: 18px;
    &:hover {
      cursor: default;
    }
  }

  .main-navs {
    padding: 8px 0;

    .icons {
      color: #999;
      margin-right: 5px;
    }
  }

  .container {
    position: relative;
  }

  #notification {
    @include box-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
    position: absolute;
    margin-left: -195px;
    width: 390px;
    left: 50%;
    right: 8px;
    top: 38px;
    z-index: 1001;

    .alert {
      min-width: 390px;
      margin-bottom: 0;
      padding: 10px;
    }

    .close {
      line-height: 0;
      margin-left: 10px;
    }
  }

  .header-logo {
    max-height: 50px;
    margin: 3px 0;
    max-width: 100%;
  }

  .navbar-brand {
    padding: 14px 8px;
  }

  .dropdown-toggle, .sign-in {
    position: relative;

    .caret {
      position: absolute;
      top: 26px;
      right: 5px;
    }
  }

  .navbar-right {
    margin-right: 0;
  }
}

.navbar-top-box-shadow {
  @include box-shadow(0px 2px 2px -1px rgba(0,0,0,.1));
}
