.invoice-container {
  width: 100%;
  margin-top: 10px;
}
.invoice-header{
  line-height: 30px !important;
  border-bottom: 1px solid gray;
  width: 100%;

  #header{
    font-weight: bold;
    font-size: 24px;
  }

  #sub-header{
    margin-top: 14px;

    ul, li {
      list-style-type: none;
    }
  }
}

.invoice-summary{
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid gray;

  .content {
    padding-top: 14px;
  }
}

.justify-top {
  margin-top: 10px !important;
}

.justify-left{
  margin-left: 14px;
}